/* Clases*/
*{
    background-color: black;
    background-color: rgb(10, 10, 10);
    background-blend-mode: soft-light;
}

/*---------------------Barra de busqueda--------------*/
.search-bar{
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.search-bar input{
    margin-top: 25px;
    width: 0px;
    height: 40px;
    padding:0 20px;
    font-size: 18px;
    outline: none;
    border-radius: 20px;
    border: 1px solid darkred;
    transition: all 0.6s ease;
    color: white;
}

.btn{
    margin-left: -50px;
    margin-top: 20px;
    width: 55px;
    height: 55px;
    top: 0;
    right: 0;
    background-color: darkred;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

.btn i{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.search-bar:hover input{
    width: 230px;
}

.search-bar input:focus{
    width: 240px;
}
/*-------------------------Menus-------------------------*/
.header{
    text-align: end;
    display: flex;
    justify-content: space-around;
    height: 90px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    color: white;
    list-style: none;
    display: flex;
    display: inline;
    margin-left: 6px;
    font-family: tag;
    font-size: 30px;
}

.menu a {
    color: white; /* Color del texto de la barra */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Cambia el color del enlace al pasar el cursor por encima */
.menu a:hover {
    color: white;
    text-shadow: 0 0 10px  darkred, 0 0 10px  darkred;
}


.menu1{
    display: flex;
    align-items: center;
}

.menu1 li{
    color: white;
    list-style: none;
    display: flex;
    display: inline;
}

.menu1 a {
    font-size: 16px;
    color: white; /* Color del texto de la barra */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.menufoot{
    display: flex;
    flex-direction: column;
}

.menufoot li{
    color: white;
    list-style: none;
    font-family: tag;
    font-size: 38px;
    margin-bottom: 40px;
}

.menufoot a {
    color: white; /* Color del texto de la barra */
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.menufoot a:hover{
    text-shadow: 0 0 15px  darkred, 0 0 15px  darkred;
}

/*-----------------------Botones----------------------*/

.boton{
    padding: 12px 40px;
    background-color: darkred;
    border-color: darkred;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
    font-family: tag;
    font-size: 30px;
    color: white;
}

.boton:hover{
    background-color: white; /* Nuevo color de fondo al pasar el cursor sobre el botón */
    color: black;
}





/*-----------------------Contenido----------------------*/
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor figure{
    position:relative;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    border: 4px solid darkred;
}

.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 28, 29, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
    background: transparent;
}
.contenedor figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
    background: transparent;
}
/*-------------------------Textos-----------------------------*/
.titulo{
    color: white;
    background: transparent;
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
    font-family: Urban;
}

.titulo2{
    margin-top: 0;
    font-size: 50px;
    color: #7C7A7D;
    text-shadow: 3px  0px 0px white,
               0px  3px 0px white,
              -3px  0px 0px white,
               0px -3px 0px white;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
}


.titulo2 a{
    color:darkgray;
    text-decoration: none;
    padding: 12px 18px;
}

.titulo2 a:hover{
    text-shadow: 0 0 15px  darkred, 0 0 15px  darkred;
    color: white;
}

.titulo3{
    font-family:sans-serif;
    font-size: 20px;
    color: #7C7A7D;
}

.form-control{
    width: 200px;
    font-size: 16px;
}

/*-----------------------------------IDs--------------------*/

#texto1{
    color: white;
    font-family: Comic-Runes;
    font-size: 18px;
}



/*---------------------------------Footer -------------------------------*/
.footer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    font-family: tag;
}

.about{
    font-size: 40px;
}

.form-control{
    background-color: black;
    color: gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.pie{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*----------------------------Fuentes------------------------*/

@font-face {
    font-family: Graffitti;
    src: url('../Fonts/MARSNEVENEKSK-Clean.otf');
}

@font-face {
    font-family: tag;
    src: url('../Fonts/aAnotherTag.ttf');
}

@font-face {
    font-family: bad;
    src: url('../Fonts/Bad\ Signal.otf');
}

@font-face {
    font-family: Urban;
    src: url('../Fonts/UrbanJungleDEMO.otf');
}

@font-face {
    font-family: Take;
    src: url('../Fonts/Take\ cover.ttf');
}
