/* Clases*/
*{
    background-color: black;
    background-color: rgb(10, 10, 10);
    background-blend-mode: soft-light;
}

/*---------------------Barra de busqueda--------------*/
.search-bar{
    padding: 5px;
    display: flex;
    flex-direction: row;
}


.search-bar input{
    margin-top: 25px;
    width: 0px;
    height: 40px;
    padding:0 20px;
    font-size: 18px;
    outline: none;
    border-radius: 20px;
    border: 1px solid darkcyan;
    transition: all 0.6s ease;
    color: white;
}

.btn{
    margin-left: -50px;
    margin-top: 20px;
    width: 55px;
    height: 55px;
    top: 0;
    right: 0;
    background-color: darkcyan;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

.btn i{
    background-color: darkcyan;
}

.search-bar:hover input{
    width: 240px;
}

.search-bar input:focus{
    width: 240px;
}

/*-------------------------Menus-------------------------*/
.header{
    text-align: end;
    display: flex;
    justify-content: space-around;
    height: 90px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    color: white;
    list-style: none;
    display: flex;
    display: inline;
    margin-left: 6px;
    font-family: tag;
    font-size: 30px;
}

.menu a {
    color: white; /* Color del texto de la barra */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Cambia el color del enlace al pasar el cursor por encima */
.menu a:hover {
    color: white;
    text-shadow: 0 0 10px  darkcyan, 0 0 10px  darkcyan;
}


.menu1{
    display: flex;
    align-items: center;
}

.menu1 li{
    color: white;
    list-style: none;
    display: flex;
    display: inline;
}

.menu1 a {
    font-size: 16px;
    color: white; /* Color del texto de la barra */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.menufoot{
    display: flex;
    flex-direction: column;
}

.menufoot li{
    color: white;
    list-style: none;
    font-family: tag;
    font-size: 38px;
    margin-bottom: 40px;
}

.menufoot a {
    color: white; /* Color del texto de la barra */
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.menufoot a:hover{
    text-shadow: 0 0 5px  darkcyan, 0 0 5px  darkcyan;
}

/*-----------------------Botones----------------------*/

.boton{
    padding: 12px 40px;
    background-color: darkcyan;
    border-color: darkcyan;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
    font-family: tag;
    font-size: 30px;
    color: white;
}

.boton:hover{
    background-color: white; /* Nuevo color de fondo al pasar el cursor sobre el botón */
    color: black;
}

.boton1{
    color: white;
    padding: 2px 40px;
    font-size: 30px;
    margin-left: 22px;
    background-color: darkcyan;
    border: none;
    cursor: pointer;
    font-family: tag;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.boton1:hover{
    background-color: white; /* Nuevo color de fondo al pasar el cursor sobre el botón */
    color: black;
}





/*-----------------------Contenido----------------------*/
.gold{
    color: white;
    background-image: url('../IMG/descarga\ \(2\).jpg');
    height: 100%;
}

.lista{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 200px;
    list-style: none;
    background: transparent;
}

.lista li{
    font-size: 22px;
    margin-top: 30px;
    background: transparent;
}

.price{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.p{
    font-size: 35px; 
    font-weight: bold;
    font-style:italic;
}

.opiniones{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    border: 2px solid darkcyan;
    width: 1000px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.features{
    color: white;
    margin-left: 200px;
    width: 900px;
}

/*-------------------------Textos-----------------------------*/
.texto{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}

.texto-user{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.titulo{
    font-family: Graffitti;
    background: transparent;
    font-size: 80px;
    color:darkcyan;
    stroke: white;
    margin-left: 200px;
    text-shadow: 3px  0px 0px white,
           0px  3px 0px white,
          -3px  0px 0px white,
           0px -3px 0px white;
transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.titulo1{
font-family: urban;
font-size: 30px;
color:darkcyan;
margin-left: 200px;
background: transparent;
}

.titulo5{
    color: darkcyan;
    font-size: 35px;
    margin-top: 30px;
    font-family: urban;
}

.sub_titulo5{
    margin-top: -50px;
    font-size: 20px;
    font-weight: 200;
}

.titulo2{
    margin-top: 0;
    font-size: 50px;
    color: #7C7A7D;
    text-shadow: 3px  0px 0px white,
               0px  3px 0px white,
              -3px  0px 0px white,
               0px -3px 0px white;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
}


.titulo2 a{
    color:darkgray;
    text-decoration: none;
    padding: 12px 18px;
}

.titulo2 a:hover{
    text-shadow: 0 0 5px  darkcyan, 0 0 5px  darkcyan;
    color: white;
}

.titulo3{
    font-family:sans-serif;
    font-size: 20px;
    color: #7C7A7D;
}

/*---------------------------------Footer -------------------------------*/
.footer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    color: white;
    font-family: tag;
}

.about{
    font-size: 40px;
}

.form-control{
    background-color: black;
    color: gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.pie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.linea{
    width: 900px; 
    margin-top: 30px;
}



/*----------------------------Fuentes------------------------*/

@font-face {
    font-family: Graffitti;
    src: url('../Fonts/MARSNEVENEKSK-Clean.otf');
}

@font-face {
    font-family: tag;
    src: url('../Fonts/aAnotherTag.ttf');
}

@font-face {
    font-family: bad;
    src: url('../Fonts/Bad\ Signal.otf');
}

@font-face {
    font-family: Urban;
    src: url('../Fonts/UrbanJungleDEMO.otf');
}

@font-face {
    font-family: Take;
    src: url('../Fonts/Take\ cover.ttf');
}



/*--------------------------------------------Responsive------------------------------------------*/

@media screen and (max-width: 400px){

.linea{
        width: 380px;
}
    
    /*----------------------------Header------------------------*/
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.search-bar:hover input{
    width: 150px;
}
    
.search-bar input:focus{
    width: 150px;
}

.img{
    display: inline-block;
    height: auto;
    width: auto;
}

.menu{
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
}

.menu li{
    flex-direction: row;
    text-align: center;
    font-size: 20px;
}

.boton{
    padding: 10px 10px;
    font-size: 12px;
}

.titulos{
    margin-left: auto;
    margin-top: 50px;
    font-size: 35px;
    text-wrap: nowrap;
    justify-content: center;
}

.titulos1{
    margin-top: 20px;
    margin-left: auto;
    font-size: 35px;
    text-wrap: nowrap;
}

    /*----------------------------Contenido------------------------*/

.gold{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-image: url('../IMG/descarga\ \(2\).jpg');
    height: 500px;
    width: 400px;
}
    
.titulo1{
    font-family: urban;
    font-size: 20px;
    color:darkcyan;
    margin-left: 0px;
    background: transparent;
}

.lista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    background: transparent;
    justify-content: center;
    font-size: 10px;
    margin-left: -40px;
    max-width: 370px;
}

.price{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.boton1{
    color: white;
    height: 70px;
    font-size: 22px;
    margin-left: 10px;
    background-color: darkcyan;
    border: none;
    cursor: pointer;
    font-family: tag;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.boton1:hover{
    background-color: white; /* Nuevo color de fondo al pasar el cursor sobre el botón */
    color: black;
}

.p{
    font-size: 25px; 
    margin-left: 20px;
    font-weight: bold;
    font-style:italic;
}

/*-------------------------Textos-----------------------------*/
.titulo{
    justify-content: center;
    font-family: Graffitti;
    background: transparent;
    font-size: 50px;
    color:darkcyan;
    stroke: white;
    margin-left: 0px;
    margin-top: 100px;
    text-shadow: 3px  0px 0px white,
           0px  3px 0px white,
          -3px  0px 0px white,
           0px -3px 0px white;
transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.opiniones{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.content{
    border: 2px solid darkcyan;
    width: 320px;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.texto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 11px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}

.texto-user{
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.features{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    margin-left: 0px;
    width: 370px;
}

.titulo5{
    color: darkcyan;
    font-size: 22px;
    margin-top: 30px;
    font-family: urban;
}

.sub_titulo5{
    margin-top: -40px;
    font-size: 12px;
    font-weight: 100;
}


/*----------------------------Footer------------------------*/

.footer{
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
}
.about{
    text-wrap: nowrap;
}
.terms{
    text-wrap: nowrap;
}
.menufoot li{
    font-size: 15px;
}
.titulo2{
    text-wrap: nowrap;
    margin-bottom: 10px;
}

/*----------------------------pie------------------------*/

.pie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#texto1{
    text-wrap: wrap;
    font-size: 15px;
    text-align: center;
}
.menu1 li{
    text-align: center;
    font-size: 12px;
}

.menu1{
    display: flex;
    align-items: center;
}

.menu1 li{
    color: white;
    list-style: none;
    display: flex;
    display: inline;
}

.menu1 a {
    font-size: 16px;
    color: white; /* Color del texto de la barra */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 12px;
}

.enlace{
    text-decoration: none;
    margin-left: 12px;
    color: white;
}
}