body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, black, darkmagenta);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formulario{
    display: flex;
    flex-direction: row;
}

form {
    background-color: #282c34;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

h2 {
    color: darkmagenta;
    font-family: graffitti;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px  0px 0px white,
               0px  3px 0px white,
              -3px  0px 0px white,
               0px -3px 0px white;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color:white;
    
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid black;
}

button {
    background-color: darkmagenta;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-family: graffitti;
}

button:hover {
    background-color: white;
    color: black;
}

.imagen{
    display: flex;
height: 400px;
width: 350px;
background-color: black;
align-items: center;
justify-content: center;
}

img{
    height: 200px;
    width: 200px;
}

/*----------------------------Fuentes------------------------*/

@font-face {
    font-family: Graffitti;
    src: url('../Fonts/MARSNEVENEKSK-Clean.otf');
}

@font-face {
    font-family: tag;
    src: url('../Fonts/aAnotherTag.ttf');
}

@font-face {
    font-family: bad;
    src: url('../Fonts/Bad\ Signal.otf');
}

@font-face {
    font-family: Urban;
    src: url('../Fonts/UrbanJungleDEMO.otf');
}

@font-face {
    font-family: Take;
    src: url('../Fonts/Take\ cover.ttf');
}

/*--------------------------------------------Responsive------------------------------------------*/

@media screen and (max-width: 400px){
    .formulario{
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 380px;
    }

    form {
        background-color: #282c34;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 380px;
    }

    .form-group {
        margin-bottom: 15px;
        width: 380px;
    }

    .imagen{
    display: flex;
    height: 400px;
    width: 380px;
    background-color: black;
    }

    img{
        height: 200px;
        width: 200px;
        margin-left: -40px;
    }

    h2 {
        color: darkmagenta;
        font-family: graffitti;
        font-size: 30px;
        text-align: center;
        text-shadow: 3px  0px 0px white,
                   0px  3px 0px white,
                  -3px  0px 0px white,
                   0px -3px 0px white;
    }
    
    
 
}