body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, black, darkmagenta);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #282c34;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

h2 {
    color: darkmagenta;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color:white;
    
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid black;
}

button {
    background-color: darkmagenta;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

button:hover {
    background-color: white;
    color: black;
}