/* Clases*/
*{
    background-color: black;
    background-color: rgb(10, 10, 10);
    background-blend-mode: soft-light;
}

/*---------------------Barra de busqueda--------------*/
.search-bar{
    padding: 5px;
    display: flex;
    flex-direction: row;
}


.search-bar input{
    margin-top: 25px;
    width: 0px;
    height: 40px;
    padding:0 20px;
    font-size: 18px;
    outline: none;
    border-radius: 20px;
    border: 1px solid darkseagreen;
    transition: all 0.6s ease;
    color: white;
}

.btn{
    margin-left: -50px;
    margin-top: 20px;
    width: 55px;
    height: 55px;
    top: 0;
    right: 0;
    background-color: darkseagreen;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

.btn i{
    background-color: darkseagreen;
}

.search-bar:hover input{
    width: 240px;
}

.search-bar input:focus{
    width: 240px;
}

/*-------------------------Menus-------------------------*/
.header{
    text-align: end;
    display: flex;
    justify-content: space-around;
    height: 90px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    color: white;
    list-style: none;
    display: flex;
    display: inline;
    margin-left: 6px;
    font-family: tag;
    font-size: 30px;
}

.menu a {
    color: white; /* Color del texto de la barra */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Cambia el color del enlace al pasar el cursor por encima */
.menu a:hover {
    color: white;
    text-shadow: 0 0 18px  darkseagreen, 0 0 18px  darkseagreen;
}



.menufoot{
    display: flex;
    flex-direction: column;
}

.menufoot li{
    color: white;
    list-style: none;
    font-family: tag;
    font-size: 38px;
    margin-bottom: 40px;
}

.menufoot a {
    color: white; /* Color del texto de la barra */
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.menufoot a:hover{
    text-shadow: 0 0 15px  darkseagreen, 0 0 15px  darkseagreen;
}

/* Menu de Footer Derechos */

.menu1{
    display: flex;
    align-items: center;
}

.menu1 li{
    color: white;
    list-style: none;
    display: flex;
    display: inline;
}

.menu1 a {
    font-size: 16px;
    color: white; /* Color del texto de la barra */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/*-------------------------Contenido-------------------------*/
.inicio{
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url('../IMG/Music_grid_sm@3x.webp');
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.last{
    color: white;
    display: flex;
    flex-direction: column;
}

.opiniones{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opiniones1{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.content{
    border: 2px solid darkseagreen;
    width: 1000px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content1{
    border: 2px solid darkseagreen;
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.content2{
    border: 2px solid darkseagreen;
    width: 1000px;
    height: 200px;
    display: flex;
    flex-direction: row;
    font-family: bad;
}

/* ------------------------------Estilos de Form------------------- */

.form{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 15px;
}

.form1{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 15px;
}

.label{
    width: 430px;
    height: 40px;
    border: 2px solid white;
}

.form input{
    color: white;
}

.form1 input{
    color: white;
}

.form select{
    color: gray;
    width: auto;
    height: 45px;
}

.form1 select{
    color: gray;
    width: auto;
    height: 45px;
}

.form select option{
    color: white;
}

.form1 select option{
    color: white;
}
/*-------------------------Textos-----------------------------*/
.titulo{
    font-family: street;
    background: transparent;
    font-size: 80px;
    color: transparent;
    -webkit-text-stroke: 1px black;
    stroke: white;
    margin-left: 200px;
    text-shadow: 3px  0px 0px white,
           0px  3px 0px white,
          -3px  0px 0px white,
           0px -3px 0px white;
}

.p{
    font-size: 20px; 
    margin-left: 200px;
    background-color: transparent;
}

.titulo1{
    font-family: Graffitti;
    background: transparent;
    font-size: 80px;
    color:darkseagreen;
    stroke: white;
    margin-left: 200px;
    text-shadow: 3px  0px 0px white,
           0px  3px 0px white,
          -3px  0px 0px white,
           0px -3px 0px white;
transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.p1{
    font-size: 20px; 
    margin-left: 200px;
    background-color: transparent;
    text-align: justify;
    margin-top: -15px;
}

.texto{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}

.texto1{
    font-size: 22px;
    margin-left: 40px;
    margin-top: -10px;
    text-align: justify;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto-user{
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.text_form{
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.text_form1{
    margin-left: 40px;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Texto del menufoot */

.titulo2{
    margin-top: 0;
    font-size: 50px;
    color: #7C7A7D;
    text-shadow: 3px  0px 0px white,
               0px  3px 0px white,
              -3px  0px 0px white,
               0px -3px 0px white;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
}


.titulo2 a{
    color:darkgray;
    text-decoration: none;
    padding: 12px 18px;
}

.titulo2 a:hover{
    text-shadow: 0 0 5px  darkseagreen, 0 0 5px  darkseagreen;
    color: white;
}

.titulo3{
    font-family:sans-serif;
    font-size: 20px;
    color: #7C7A7D;
}
/*-------------------------Botones-----------------------------*/
.boton{
    padding: 12px 40px;
    background-color: darkseagreen;
    border-color: darkseagreen;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
    font-family: tag;
    font-size: 30px;
    color: white;
}

.boton:hover{
    background-color: white; /* Nuevo color de fondo al pasar el cursor sobre el botón */
    color: black;
}


.boton1{
    padding: 12px 40px;
    background-color: darkseagreen;
    border-color: darkseagreen;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
    font-family: tag;
    font-size: 30px;
    color: white;
}

.boton1:hover{
    background-color: white; /* Nuevo color de fondo al pasar el cursor sobre el botón */
    color: black;
}

.boton2{
    padding: 12px 40px;
    background-color: darkseagreen;
    border-color: darkseagreen;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
    font-family: tag;
    font-size: 30px;
    color: white;
    width: 200px;
    margin-left: 40px;
}

.boton2:hover{
    background-color: white; /* Nuevo color de fondo al pasar el cursor sobre el botón */
    color: black;
}

.boton3{
    padding: 12px 40px;
    background-color: darkseagreen;
    border-color: darkseagreen;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para el efecto hover */
    font-family: tag;
    font-size: 30px;
    color: white;
    width: 200px;
    margin-left: 40px;
}

.boton3:hover{
    background-color: white; /* Nuevo color de fondo al pasar el cursor sobre el botón */
    color: black;
}







/*---------------------------------Footer -------------------------------*/
.footer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    color: white;
    font-family: tag;
}

.about{
    font-size: 40px;
}

.form-control{
    background-color: black;
    color: gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.pie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}



/*----------------------------Fuentes------------------------*/

@font-face {
    font-family: Graffitti;
    src: url('../Fonts/MARSNEVENEKSK-Clean.otf');
}

@font-face {
    font-family: tag;
    src: url('../Fonts/aAnotherTag.ttf');
}

@font-face {
    font-family: bad;
    src: url('../Fonts/Bad\ Signal.otf');
}

@font-face {
    font-family: Urban;
    src: url('../Fonts/UrbanJungleDEMO.otf');
}

@font-face {
    font-family: Take;
    src: url('../Fonts/Take\ cover.ttf');
}

@font-face {
    font-family: street;
    src: url('../Fonts/street\ cred.otf');
}



























